<ul class="nav nav-sidebar">
    <li class="active">
        <a data-route="overview" href="javascript:void(0)">
            <span>数据统计概览</span>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <span>用户分析</span>
            <i class="nav-icon"></i>
        </a>
        <ul class="nav nav-sub">
            <li>
                <a href="javascript:void(0)" data-route="u-s">
                    <span>实时抽样</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-route="u-a">
                    <span>访问分析</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-route="u-f">
                    <span>在线用户分析</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-route="u-b">
                    <span>用户弹幕分析</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0)">
            <span>内容分析</span>
            <i class="nav-icon"></i>
        </a>
        <ul class="nav nav-sub">
            <li>
                <a href="javascript:void(0)" data-route="c-v">
                    <span>视频访问量</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-route="c-b">
                    <span>弹幕发送量</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a>
            <span>终端分析</span>
            <i class="nav-icon"></i>
        </a>
        <ul class="nav nav-sub">
            <li>
                <a href="javascript:void(0)" data-route="t-a">
                    <span>终端访问量</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-route="pc-b">
                    <span>pc浏览器</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-route="pc-o">
                    <span>pc操作系统</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-route="a-t">
                    <span>android机型</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-route="a-p">
                    <span>android播放器</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-route="a-r">
                    <span>android分辨率</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-route="a-o">
                    <span>android操作系统</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-route="ios-t">
                    <span>ios机型</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-route="ios-p">
                    <span>ios播放器</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-route="ios-r">
                    <span>ios分辨率</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-route="ios-o">
                    <span>ios操作系统</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-route="h5-b">
                    <span>h5浏览器</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-route="h5-o">
                    <span>h5操作系统</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-route="h5-r">
                    <span>h5分辨率</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0)">
            <span>网络分析</span>
            <i class="nav-icon"></i>
        </a>
        <ul class="nav nav-sub">
            <li>
                <a href="javascript:void(0)" data-route="n-o">
                    <span>运营商分析</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-route="n-b">
                    <span>带宽分析</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-route="n-c">
                    <span>CDN分析</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-route="n-f">
                    <span>流畅度分析</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0)">
            <span>地域分析</span>
            <i class="nav-icon"></i>
        </a>
        <ul class="nav nav-sub">
            <li>
                <a href="javascript:void(0)" data-route="t-inland">
                    <span>国内分析</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-route="t-national">
                    <span>国家分析</span>
                    <i class="nav-icon"></i>
                </a>
            </li>
        </ul>
    </li>
</ul>